
a{
    text-decoration: none;
    color: #40babd;
}
body{
    background-color: #494d55;
    font-size: 14px;
    font-family: 'Trispace', sans-serif;
}

/*------------------------HEADER---------------------*/

.header{
    border-top: 0.4rem solid #40babd;
}
.fa-heart{
    color: #EA5395;
}
header p {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 600;
    font-size: 1.4rem;
}

/*------------------------HEADER---------------------*/

/*------------------------MAIN-----------------------*/

main.page .container{
    max-width: 68rem;
   /* margin: 0 auto;*/
}
.page__header-title{
    font-weight: 600;
    color: #494d55;
}
.page__header-text{
    color: #616670;
}
.page__header-btn{
    background: #40babd;
    border: 1px solid #40babd;
    font-weight: 600;
    box-shadow: 0.3rem 0.3rem #067b7e;
}
.page__header-btn:hover{
    background: #40babd;
    border: 1px solid #40babd;
    transform: translate(1px, 1px);
    box-shadow: 0.2rem 0.2rem #067b7e;
    transition: 0.5s;
}

/*-----color_blocks----*/

.green{
    border-top: 0.2rem solid #75c181;
}
.green > i{
    color: #75c181;
    font-size: 2.6rem;
}

.pink{
    border-top: .2rem solid #EA5395;
}
.pink > i{
    color: #EA5395;
    font-size: 2.6rem;
}
.blue{
    border-top: .2rem solid #58bbee;
}
.blue > i{
    color: #58bbee;
    font-size: 2.6rem;
}
.violet{
    border-top: .2rem solid #8A40A7;
}
.violet > i{
    color: #8A40A7;
    font-size: 2.6rem;
}
.light-blue{
    border-top: .2rem solid #40babd;
}
.light-blue > i{
    color: #40babd;
    font-size: 2.6rem;
}
.orange{
    border-top: .2rem solid #F88C30;
}
.orange > i{
    color: #F88C30;
    font-size: 2.6rem;
}
/*-----color_blocks----*/


h3.green__card-title,
h3.pink__card-title,
h3.blue__card-title,
h3.violet__card-title,
h3.orange__card-title,
h3.light-blue__card-title{
    font-size: 1.14rem;
    font-weight: 600;
}
p.green__card-text,
p.pink__card-text,
p.blue__card-text,
p.violet__card-text,
p.orange__card-text,
p.light-blue__card-text{
    color: #616670;
}


.card__link{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.7s;
}
.card__link:hover{
    background-color: rgba(128, 128, 128, 0.082);
    transition: 0.7s;
}

/*--------------FOOTER---------------*/

.footer__link{
    position: relative;
    display: inline-block;
}
.footer__link:hover{
    color: #40babd;
}
.footer__link::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    height: 1px;
    width: 0;
    background-color: #40babd;
}
.footer__link:hover::after{
    width: 100%;
    left: 0;

    transition: 0.8s;
}

/*--------------FOOTER---------------*/